.videoYt{
    @include flex($justify: flex-start, $align: center, $wrap: true);

    padding-top: 50px ;
    padding-bottom: 30px;
    margin: 10px;
}

.hrArt{
    margin: 20px 20px 20px 0px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.pAutor{
    @include flex($justify: flex-start, $align: flex-start, $wrap: false);
    
    color: rgb(150, 150, 150);
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: smaller;
}
.pArt{
    @include flex($justify: baseline, $align: flex-start, $wrap: false);
    
    min-width: 50%;
}

.h3Articulos{
    padding-top: 20px;
}



@media  screen and (max-width: 599px  ) {
    .ifArt{
        width: 350px;
        height: 220px;
    }
    .videoYt{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start
        ;
        padding-top: 50px ;
        padding-bottom: 30px;
        margin: 10px;
        

    }
}