.videoYt{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start ;
    padding-top: 50px ;
    padding-bottom: 30px;
    margin: 10px;
}

.hrArt{
    margin: 20px 20px 20px 0px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.pAutor{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap ;
    color: rgb(150, 150, 150);
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: smaller;
}
.pArt{
    display: flex;
    justify-content: baseline;
    flex-flow: row wrap ;
    align-items: flex-start;
    min-width: 50%;
}

.h3Articulos{
    padding-top: 20px;
}



@media  screen and (max-width: 599px  ) {
    .ifArt{
        width: 350px;
        height: 220px;
    }
    .videoYt{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start
        ;
        padding-top: 50px ;
        padding-bottom: 30px;
        margin: 10px;
        

    }
}