footer {
    background-color: map-get($color, negro);
    color: map-get($color, blanco);
    text-align: center;
    margin-top: auto;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        list-style-type: none;
        padding: 5px;
      
        li {
            margin: 5px;
            padding: 5px;
            &:hover{
            color: #828080;
          }
            a{
                text-decoration: none;
                color: map-get($color, blanco);
              }
        }
    }
  }
  
  .footerTyc{
    @extend %lista;
    color: map-get($color, blanco); 
    &:hover{
      @extend %lista;
    color: #828080; 
    }
}
  
