header{
    @extend %flexRowBetween;
    margin: 0px;
    padding: 0px;
    font-family: map-get($estilos , font );
    background-color: map-get($estilos , colornegro );
    color: map-get($estilos , colorblanco );
    min-width: 100vh;
  
    #tituloindex{
        color: map-get($estilos , colorblanco );
        font-size: 26px;
       flex: 1;
     
    }

}

