.articulosMain {
    height: 280px;
    width: 380px;
    border: rgb(5, 5, 5) solid;
    border-radius: 8px;
  }

   /*Articulos de Musica en Index*/
   .articulosMusicaCine {
    width: 250px;
    height: 180px;
    padding: 0;
    margin: 0;
  }
  
  /*Agenda */

  .articulosAgenda {
    width: 400px;
    height: 300px;
  }
  /*Articulos*/

  .imgArticulos{
    width: 800px;
    height: 600px;
    padding-top: 10px;
    padding-bottom: 40px;
  }

  @media  screen and (max-width: 600px  ) {

    .articulosAgenda {
      width: 300px;
      height: 220px;
    }
    .articulosMain {
      height: 280px;
      width: 350px;
      border: rgb(5, 5, 5) solid;
      border-radius: 8px;
    }
    .imgArticulos{
      width: 350px;
      height: 300px;
    }
  }