.header__nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    min-width: 100vh;
    list-style-type: none;
  }
  .header__nav ul li {
    margin: 10px;
    padding: 0px 5px 0px 5px;
  }