@mixin flex($direction: row, $justify, $align, $wrap: false) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    @if $wrap {
      flex-wrap: wrap;
    } @else {
      flex-wrap: nowrap;
    }
  }