@import "./partials/maps","./partials/mixins","./partials/extends","./partials/header", "./partials/main" ,"./partials/footer", "./partials/menu";



body{
    margin: 0px;
    padding: 0px;
    font-family:map-get($estilos , font );
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
    grid-template-rows:  1fr ;
   grid-template-columns: 1fr;
    height: 100vh;
    width: 100vw;
    
    
}

.headerIndex{
    grid-area: header;

}

.mainIndex{
    grid-area: main;
}

.footerIndex{
    grid-area: footer;
}











/*Fin diseño mobile*/  
@media screen and (min-width: 1200px) {

    body{
        margin: 0px;
        padding: 0px;
        font-family: map-get($estilos, colornegro ) !important;
        display: grid;
        grid-template-areas:
        "header header header"
        ". main ."
        "footer footer footer"
        
        ;
        grid-template-rows: 30% 1fr 1fr ;
        grid-template-columns: 10% 1fr 10%;
        height: 100vh;
        width: 100vh;
    }
    .porCul{
        position: absolute;
        
        font-size: small;
        margin: 30px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .indexArticulos{
        display: flex;
        
        flex-flow: row wrap;
        justify-content:space-around;
        align-items:center;
        width:100vw ;
        margin: 2px;
        padding: 1%;
    }
    .titulosPaginas{
        text-align: center;
        margin: 30px;
        padding: 30px;
    }
    #slogans {
        display: flex;
        justify-content: flex-end;
        align-items:baseline;
    }
    #news{
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin-top: 20px ;
        padding: 30px;
    }
}