/*Bootstrap */
/*Titulo index*/
#news {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 20px;
  padding: 30px;
}

#news .tituloNews {
  font-style: italic;
}

#news .news {
  font-style: italic;
  font-size: smaller;
  -webkit-animation: news 3s infinite forwards;
  animation: news 3s infinite forwards;
}

.h5Index {
  margin: 5px;
}

/*Articulos Index*/
.indexArticulos {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2px;
  padding: 1%;
}
.indexArticulos .div__art {
  align-items: center;
  width: 25%;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.indexArticulos .div__art a {
  text-decoration: none;
  list-style-type: none;
  color: rgb(5, 5, 5);
}

/*titulos en otras paginas*/
.titulosPaginas {
  text-align: center;
  margin: 30px;
  padding: 30px;
}

.titulosPaginasLeft {
  text-align: left;
  margin: 5px;
  padding: 10px 10px 10px 0px;
}

/*Articulos cine en Index*/
.indexCine {
  padding-bottom: 30px;
}

#lineaIndex {
  padding: 10px 0px 20px 0px;
  min-width: 100vw;
}

/*Agenda*/
.section__agenda {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: 5px;
  padding: 2%;
}
.section__agenda .div__agenda {
  align-items: center;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 25px;
}
.section__agenda .div__agenda a {
  text-decoration: none;
  list-style-type: none;
  color: rgb(5, 5, 5);
}
.section__agenda .desc__agenda {
  color: #505050;
}

.pAgenda {
  padding: 0px 0px 0px 30px;
}

/*Peliuclas*/
#bottom {
  padding: 0px 0px 20px 55px;
}

.usDesc {
  padding: 2px 0px 0px 5px;
  margin-bottom: 10px;
  text-align: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 25px 10px 10px 10px;
  padding: 10px 10px 10px 25px;
}

.inForm {
  padding: 5px;
  margin: 10px;
}

.outForm {
  padding: 10px 5px 5px 40px;
  margin: 10px;
}

label {
  border-bottom: rgb(190, 190, 190) 1px solid;
  border-width: 2px;
  margin: 2px;
  padding: 2px;
}

.botones {
  font-family: "Poppins", sans-serif;
  font-style: oblique;
  color: #ffffff;
  margin: 1px;
  padding: 1px;
}

/*Tyc*/
.pTyc {
  font-size: large;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

footer {
  background-color: rgb(5, 5, 5);
  color: #ffffff;
  text-align: center;
  margin-top: auto;
  margin: 0;
  padding: 0;
  min-width: 100vw;
}
footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  padding: 5px;
}
footer ul li {
  margin: 5px;
  padding: 5px;
}
footer ul li:hover {
  color: #828080;
}
footer ul li a {
  text-decoration: none;
  color: #ffffff;
}

.footerTyc {
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}
.footerTyc:hover {
  list-style-type: none;
  text-decoration: none;
  color: #828080;
}

.articulosMain {
  height: 280px;
  width: 320px;
  border: rgb(5, 5, 5) solid;
  border-radius: 8px;
}

/*Articulos de Musica en Index*/
.articulosMusicaCine {
  width: 250px;
  height: 180px;
  padding: 0;
  margin: 0;
}

/*Agenda */
.articulosAgenda {
  width: 400px;
  height: 300px;
}

@media screen and (max-width: 600px) {
  .articulosAgenda {
    width: 300px;
    height: 220px;
  }
}
.videoYt {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 10px;
}

.hrArt {
  margin: 20px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.pAutor {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  color: rgb(150, 150, 150);
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: smaller;
}

.pArt {
  display: flex;
  justify-content: baseline;
  flex-flow: row wrap;
  align-items: flex-start;
  min-width: 50%;
}

@media screen and (max-width: 599px) {
  .ifArt {
    width: 350px;
    height: 220px;
  }
  .videoYt {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 10px;
  }
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  min-width: 100vw !important;
}

.headerIndex {
  grid-area: header;
}

.mainIndex {
  grid-area: main;
}

.footerIndex {
  grid-area: footer;
}

/*media query*/
@media screen and (min-width: 1200px) {
  body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: "header header header" ". main ." "footer footer footer";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 10% 1fr 10%;
    height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    font-family: "Poppins", sans-serif;
  }
  .indexArticulos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2px;
    padding: 2px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .titulosPaginas {
    text-align: center;
    margin: 30px;
    padding: 30px;
  }
  #news {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 20px;
    padding: 30px;
  }
}/*# sourceMappingURL=styles.css.map */